<div class="card-component">
  <mat-card>
    <mat-card-title>Stats
        <mat-checkbox [(ngModel)]="isEnabled" labelPosition="after" color="primary" class="title-checkbox"></mat-checkbox>
    </mat-card-title>
    <mat-card-content *ngIf="isEnabled">
      <p>Completed Pomodoros:&nbsp;&nbsp;&nbsp;&nbsp;{{stats.donePomodoros}}</p>
      <p>Completed Short Breaks:&nbsp;&nbsp;{{stats.doneShortBreaks}}</p>
      <p>Completed Long Breaks:&nbsp;&nbsp;&nbsp;{{stats.doneLongBreaks}}</p>
    </mat-card-content>
  </mat-card>
</div>