#timer-parent {
    min-width: 300px;
    text-align: center;
    justify-content: center;
}

#timer-time {
    margin-bottom: 0;
    color: black;
}

#reset-spinner {
    position: absolute;
    margin: auto auto auto auto;
    left: 0;
    right: 0;
    top: 4%;
    zoom: 0.4;
}