<div id="timer-parent" class="card-component">
  <mat-card>
    <mat-card-title>
      {{this.currentTimerType}}
    </mat-card-title>
    <mat-card-subtitle>
      {{generateComingNextString()}}
      <div class="mat-display-4" id="timer-time">{{generateTimeRemainingString()}}</div>
    </mat-card-subtitle>
    <mat-card-content>
      <div>
        <button mat-raised-button color="primary" *ngIf="!isTimerRunning" (click)="startTimer()">Start</button>
        <button mat-raised-button color="warn" *ngIf="isTimerRunning" (click)="pauseTimer()">Pause</button>
        <button mat-raised-button (click)="skipTimer()">Skip</button>
        <button mat-raised-button (click)="resetTimer()">Reset</button>
        <!-- TODO implement hold to reset with spinner as visual feedback -->
        <mat-progress-spinner id="reset-spinner" value="determinate" value=0></mat-progress-spinner>
      </div>
    </mat-card-content>
  </mat-card>  
</div>
