<div id="timers-log-parent" class="card-component">
  <mat-card>
    <mat-checkbox [(ngModel)]="isDisabled" labelPosition="before" color="primary">Hide Log</mat-checkbox>
    <mat-card-content *ngIf="!isDisabled">
      <mat-list>
        <div *ngFor="let event of events">
          <mat-list-item><i><b>{{event.date}}</b></i></mat-list-item>
          <mat-list-item>{{event.content}}</mat-list-item>
          <mat-divider [inset]=true></mat-divider>
        </div>
      </mat-list>            
    </mat-card-content>
  </mat-card>
</div>