<div id="timers-log-parent" class="card-component">
  <mat-card>
    <mat-checkbox [(ngModel)]="isEnabled" labelPosition="before" color="primary">Show Log</mat-checkbox>
    <mat-card-content *ngIf="isEnabled">
      <mat-list>
        <div *ngFor="let event of events.slice().reverse()">
          <mat-list-item><i><b>{{event.date | date:'mediumTime'}}</b></i></mat-list-item>
          <mat-list-item>{{event.content}}</mat-list-item>
          <mat-divider [inset]=true></mat-divider>
        </div>
      </mat-list>            
    </mat-card-content>
  </mat-card>
</div>